<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ALAN D</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-car-front-fill" aria-hidden="true"></span> Hjem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-dice-6-fill" aria-hidden="true"></span> Tæller
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calculator">
                <span class="bi bi-calculator" aria-hidden="true"></span> Lommeregner
            </NavLink>
        </div>
        <div class="nav-item px-3">
	        <NavLink class="nav-link" href="mynote">
		        <span class="bi bi-journal-text" aria-hidden="true"></span> Note
	        </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="/coin" Match="NavLinkMatch.All">
	        <i class="bi bi-coin"></i> Mønt Kast
        </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
